.WeekSelect {
    margin-top: 10px;
    background-color: #E0115F;
    width: 120px;
    height: 30px;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    margin-right: 20px;
    cursor: pointer;
}

.LabSelect {
    margin-top: 10px;
    background-color: #E0115F;
    width: 120px;
    height: 30px;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    margin-right: 20px;
    cursor: pointer;
}

.FileUpload {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.LabUpload {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.FileUpload + label {
    margin-left: 10px;
    margin-top: 10px;
    background-color: #E0115F;
    border-radius: 5px;
    color: white;
    width: 120px;
    height: 30px;
    font-size: 15px;
    margin-right: 20px;
    padding: 6px;
}

.LabUpload + label {
    margin-left: 10px;
    margin-top: 10px;
    background-color: #E0115F;
    border-radius: 5px;
    color: white;
    width: 120px;
    height: 30px;
    font-size: 15px;
    margin-right: 20px;
    padding: 6px;
}


.Submit {
    margin-left: 10px;
    margin-top: 10px;
    background-color: #E0115F;
    border-radius: 5px;
    color: white;
    width: auto;
    height: 30px;
    font-size: 15px;
    cursor: pointer;
}

.LabSubmit {
    margin-left: 10px;
    margin-top: 10px;
    background-color: #E0115F;
    border-radius: 5px;
    color: white;
    width: auto;
    height: 30px;
    font-size: 15px;
    cursor: pointer;
}

.WeekSelect:hover, .LabSelect:hover {
    background-color: #f74a8b;
}

.FileUpload:focus + label,
.FileUpload + label:hover {
    background-color: #f74a8b;
}

.LabUpload:focus + label,
.LabUpload + label:hover {
    background-color: #f74a8b;
}

.FileUpload + label {
    cursor: pointer;
}

.LabUpload + label {
    cursor: pointer;
}

.Submit:hover {
    background-color: #f74a8b;
}

.LabSubmit:hover {
    background-color: #f74a8b;
}
