.section-title {
  margin: 20px 30px 0px 45px;
}

.staff-page {
  display: flex;
  flex-wrap: wrap;
}

.staff-container {
  margin: 15px 30px 15px 30px;
  padding: 10px;
  max-width: 380px;
}

.staff {

}

.staff-pic {
  text-align: center;
}

.staff-pic > img {
  border-radius: 20px;
}

.staff-name {
  margin-top: 0px;
  margin-bottom: -5px;
}

.bio {
  color: SlateGrey;
  font-size: 0.9em;
}

.ul-custom {
  margin-top: -10px;
  margin-left: -25px;
}

.note {
  margin: 30px;
}